annotated-types==0.7.0
ansicon==1.89.0
anyio==4.9.0
bcrypt==4.3.0
blessed==1.20.0
cachetools==5.5.2
click==8.1.8
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
duckdb==1.2.2
editor==1.6.6
fastapi==0.115.12
fonttools==4.57.0
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.2.1
h11==0.14.0
idna==3.10
inquirer==3.4.0
Jinja2==3.1.6
jinxed==1.3.0
kiwisolver==1.4.8
libpass==1.9.0
MarkupSafe==3.0.2
matplotlib==3.10.1
networkx==3.4.2
numpy==2.2.5
packaging==25.0
pandas==2.2.3
pillow==11.2.1
polars==1.27.1
pyarrow==19.0.1
pydantic==2.11.3
pydantic_core==2.33.1
PyJWT==2.10.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.20
pytz==2025.2
PyYAML==6.0.2
readchar==4.2.1
runs==1.2.2
scipy==1.15.2
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
SQLAlchemy==2.0.40
sqlglot==26.16.0
squirrels @ git+https://github.com/squirrels-analytics/squirrels.git@5a52ec910a8031b4b67828034f6304d1caed81f1
starlette==0.46.2
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
uvicorn==0.34.2
wcwidth==0.2.13
xmod==1.8.1
